@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.App {
  background-image: url("./assets/bg.jpg");
  background-repeat: repeat;
  background-size: contain;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
  min-height: 100vh;
}
.Child {
  width: 100vw;
  backdrop-filter: blur(50px);
  min-height: 100vh;
}

@theme {
  --color-midnight: rgba(46, 46, 53, 0.85);
}

@layer components {
  .link {
    @apply text-slate-100 hover:text-teal-500 transition duration-150;
  }
  .active {
    @apply text-teal-500;
  }
}
/* Second Color (Bottom) */
.polygon {
  z-index: 0;
  clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
}

.line-height {
  line-height: 2;
}
