@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.App {
  background-image: url("./assets/bg.jpg");
  background-repeat: repeat;
  background-size: contain;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
  min-height: 100vh;
  overflow-x: hidden;
}

.Child {
  width: 100vw;
  backdrop-filter: blur(50px);
  min-height: 100vh;
}

::-webkit-scrollbar {
  height: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(30, 41, 59, 0.5);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background: #0d9488;
  border-radius: 3px;
}
ul::-webkit-scrollbar-thumb:hover {
  background: #0f766e;
}

@keyframes dropdown {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-dropdown {
  animation: dropdown 0.2s ease-out forwards;
}

@theme {
  --color-midnight: rgba(46, 46, 53, 0.85);
}

@layer components {
  .link {
    @apply text-slate-100 hover:text-teal-500 transition duration-150;
  }
  .active {
    @apply text-teal-500  px-4 py-2 rounded-lg;
  }
}
.polygon {
  z-index: 0;
  clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
}

.line-height {
  line-height: 2;
}

.cercle {
  position: relative;
}

.cercle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 3px solid teal;
  filter: blur(10px);
}

.cercle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  border: 3px solid teal;
  filter: blur(10px);
}

.font-bold-effect {
  font-family: "Bungee", sans-serif;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); /* Fake boldness */
  transform: scale(1.02); /* Slight stretch */
}

/* "Lighter" effect */
.font-light-effect {
  font-family: "Bungee", sans-serif;
  opacity: 0.8;
  filter: brightness(1.1);
}
